<%= link_to event, class: 'block rounded-lg bg-white' do %>
  <div class="py-4 px-6 bg-white">
    <h3 class="text-2xl font-bold mb-2"><%= event.name %></h3>
    <span class="rounded text-sm inline-block mr-4">開催日時: <%= l event.held_at, format: :long_ja %></span>
    <span class="rounded text-sm inline-block">締切日時: <%= l event.deadline_at, format: :long_ja %></span>
    <div class="mb-4">
      <span class="px-1 text-red-500 rounded border border-red-500">締切までのこり: <%= event.calc_time_remaining %></span>
    </div>
    <div class="flex">
      <div>開催場所: </div>
      <div>
        <span class="text-xl text-blue-300 mr-4"><%= event.place %></span>
        <span class="">〒<%= event.zipcode_id %><%= event.address %></span>
      </div>
    </div>
    <div class="mb-4">
      <span class="rounded text-sm inline-block mr-4">参加費用: <%= event.price %></span>
      <span class="rounded text-sm inline-block">制限人数: <%= event.event_attendances.approve.count %> / <%= event.people_limit %></span>
    </div>
    <div class="flex">
      <div class="flex items-center mr-20">
        <div class='mx-2 rounded-full overflow-hidden w-8 h-8 block'>
          <% if event.master.image.attached? %>
            <%= image_tag event.master.image, class: 'w-full h-full object-cover' %>
          <% else %>
            <div class='w-full h-full object-cover bg-gray-300'></div>
          <% end %>
        </div>
        <span class="block font-semibold text-xs">@<%= event.master.name %></span>
      </div>
      <div class="flex items-center">
        <% if favorite = Favorite.find_by(user: current_user, event:) %>
          <div id="favorite_form<%= event.id %>" class="favorite_link mr-2">
            <%= render partial: 'favorites/favorite', locals: { event:, favorite: } %>
          </div>
        <% else %>
          <div id="favorite_form<%= event.id %>" class="favorite_link mr-2">
            <%= render 'favorites/unfavorite', event: %>
          </div>
        <% end %>

        <span id="favorite-count<%= event.id %>"><%= Favorite.where(event:).count %></span>
      </div>
    </div>
  </div>
<% end %>
