<%= link_to event, class: 'block' do %>
  <div class="py-4 px-6 bg-white">
    <div class="flex">
      <div class="w-10 h-10 rounded-full overflow-hidden mr-2">
      </div>
      <div class="flex flex-col">
        <span class="block font-semibold text-xs">@<%= event.master.name %></span>
        <span class="block text-xs mb-2 text-gray-500"><%= l event.deadline_at, format: :long_ja %></span>
        <span class="text-red-500">締切までのこり: <%= event.calc_time_remaining %></span>
      </div>
    </div>
    <div>
      <p class="text-xl font-bold">開催場所: <%= event.place %></p>
      <p class="">住所: 〒<%= event.zipcode_id %><%= event.address %></p>
        <span class="bg-custom-gray rounded text-sm inline-block px-2 mx-0.5">開催日時: <%= l event.held_at, format: :long_ja %></span>
    </div>
    <div class="ml-12">
      <h3 class="text-xl font-bold mb-2"><%= event.name %></h3>
        <span class="bg-custom-gray rounded text-sm inline-block px-2 mx-0.5">参加費用: <%= event.price %></span>
        <span class="bg-custom-gray rounded text-sm inline-block px-2 mx-0.5">制限人数: <%= event.people_limit %></span>

      <div class="flex justify-between items-end">
        <div class="flex items-center">
        </div>
      </div>
    </div>
    <div class="favorite-field">
      <% if favorite = Favorite.find_by(user: current_user, event:) %>
        <div id="favorite_form<%= event.id %>" class="favorite_link">
          <%= render partial: 'favorites/favorite', locals: { event:, favorite: } %>
        </div>
      <% else %>
        <div id="favorite_form<%= event.id %>" class="favorite_link">
          <%= render 'favorites/unfavorite', event: %>
        </div>
      <% end %>

      <span id="favorite-count<%= event.id %>"><%= Favorite.where(event:).count %></span>
    </div>
  </div>
<% end %>
