    <% if @event.errors.any? %>
  <div>
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li class="text-red-500"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div>
  <div class="mb-2">
    <div class="mb-1">
      <%= form.label :name, 'イベント名' %>
      <span class="text-red-500 border border-red-500 rounded">必須</span>
    </div>
    <%= form.text_field :name,
                        placeholder: '入力してください',
                        class: 'rounded py-1 mb-2 w-full outline-none font-semibold text-2xl' %>
  </div>
  <div class="mb-2">
    <div class="mb-1">
      <%= form.label :zipcode_id, '郵便番号' %>
      <span class="text-red-500 border border-red-500 rounded">必須</span>
    </div>
    <%= form.number_field :zipcode_id,
                          placeholder: '入力してください',
                          class: 'rounded py-1 mb-2 w-full' %>
    <div class="mb-1">
      <%= form.label :zipcode_address, '番地までの住所' %>
      <span class="text-red-500 border border-red-500 rounded">必須</span>
    </div>
    <%= form.text_field :zipcode_address,
                        placeholder: 'このフィールドは編集できません。「住所検索」を行なうことで自動入力されます',
                        class: 'rounded py-1 mb-2 w-full bg-gray-300',
                        readonly: true %>
  </div>
  <%= form.submit '住所検索', name: 'search_address', class: 'relative -ml-px inline-flex items-center rounded-md
                          px-3 py-2 font-semibold text-white bg-blue-400 ring-1 ring-inset
                          ring-blue-700 hover:opacity-80 focus:z-10 cursor-pointer mb-4' %>
  <div class="mb-2">
    <div class="mb-1">
      <%= form.label :other_address, '番地以降の住所' %>
      <span class="text-red-500 border border-red-500 rounded">必須</span>
    </div>
    <%= form.text_field :other_address,
                        placeholder: '入力してください',
                        class: 'rounded py-1 mb-2 w-full' %>
  </div>
  <div class="mb-2">
    <div class="mb-1">
      <%= form.label :place, '開催場所' %>
      <span class="text-red-500 border border-red-500 rounded">必須</span>
    </div>
    <%= form.text_field :place,
                        placeholder: '入力してください',
                        class: 'rounded py-1 mb-2 w-full' %>
  </div>
  <div class="mb-2">
    <div class="mb-1">
      <%= form.label :price, '参加費用' %>
    </div>
    <%= form.number_field :price,
                          placeholder: '入力してください',
                          class: 'rounded py-1 mb-2 w-full' %>
  </div>
  <div class="mb-2">
    <div class="mb-1">
      <%= form.label :people_limit, '人数制限' %>
    </div>
    <%= form.number_field :people_limit,
                          placeholder: '入力してください',
                          class: 'rounded py-1 mb-2 w-full' %>
  </div>
  <div class="mb-2">
    <div class="mb-1">
      <%= form.label :description, '詳細' %>
      <span class="text-red-500 border border-red-500 rounded">必須</span>
    </div>
    <%= form.text_area :description,
                       placeholder: '入力してください',
                       class: 'rounded py-1 mb-2 w-full h-full' %>
  </div>
  <% unless @editable %>
    <p class="text-red-500">※開催日時, 申込締切日時はあとから編集できません</p>
  <% end %>
  <div class="flex">
    <div class="flex items-center w-1/2">
      <%= form.label :held_at, '開催日時' %>
      <span class="text-red-500 border border-red-500 rounded ml-1 mr-2">必須</span>
      <%= form.datetime_field :held_at,
                              class: "rounded py-1 mb-2  w-auto #{@editable ? '' : 'bg-gray-300'}",
                              readonly: !@editable %>
    </div>
    <div class="flex items-center w-1/2">
      <%= form.label :held_at, '申込締切日時' %>
      <span class="text-red-500 border border-red-500 rounded ml-1 mr-2">必須</span>
      <%= form.datetime_field :deadline_at,
                              class: "rounded py-1 mb-2 w-auto #{@editable ? '' : 'bg-gray-300'}",
                              readonly: !@editable %>
    </div>
  </div>
</div>
