<div class="mb-6">
  <div class="mb-4">
    <span class="rounded text-sm inline-block mr-4">作成日時: <%= l @event.created_at, format: :long_ja %></span>
    <span class="rounded text-sm inline-block mr-4">開催日時: <%= l @event.held_at, format: :long_ja %></span>
    <span class="rounded text-sm inline-block mr-4">参加人数: <%= @event.event_attendances.approved.count %> / <%= @event.people_limit %></span>
  </div>
  <h2 class="font-bold text-3xl mb-6 pl-6"><%= @event.name %></h2>
  <%= link_to @event.master, class: 'flex items-center inline-block' do %>
    <div class='mx-2 rounded-full overflow-hidden w-8 h-8 block'>
      <% if @event.master.image.attached? %>
        <%= image_tag @event.master.image, class: 'w-full h-full object-cover' %>
      <% else %>
        <div class='w-full h-full object-cover bg-gray-300'></div>
      <% end %>
    </div>
    <span class="block font-semibold">@<%= @event.master.name %></span>
  <% end %>
  <div class="flex justify-center">
    <div class="max-w-6xl w-full px-4">
      <div class="my-4 border-b pb-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4 sm:gap-x-4">
          <div>
            <div class="font-bold">場所</div>
            <div><%= @event.place %></div>
          </div>
          <div>
            <div class="font-bold">住所</div>
            <div>〒<%= @event.zipcode_id %><%= @event.address %></div>
          </div>
          <div>
            <div class="font-bold">参加費用</div>
            <div><%= @event.price.nil? ? 'なし' : "#{@event.price}円" %></div>
          </div>
          <div>
            <div class="font-bold">最大参加人数</div>
            <div><%= @event.people_limit.nil? ? 'なし' : "#{@event.people_limit}人" %></div>
          </div>
          <div>
            <div class="font-bold">開催日時</div>
            <div><%= l @event.held_at, format: :long_ja %></div>
          </div>
          <div>
            <div class="font-bold">申込締切日時</div>
            <div><%= l @event.deadline_at, format: :long_ja %></div>
          </div>
          <div class="sm:col-span-2">
            <div class="font-bold">詳細</div>
            <div><%= @event.description %></div>
          </div>
        </div>
      </div>
      <% if @event.master == current_user || @is_approve %>
        <div class="my-4 border-b pb-4">
          <h2 class="text-2xl font-bold mb-2">コメント欄</h2>
          <% if @comments.count.zero? %>
            <p class="mb-6">コメントはありません。</p>
            <%= link_to 'コメントを書き込む', event_event_comments_path(@event),
                        class: 'relative -ml-px inline-flex items-center rounded-md bg-white px-3 py-2 font-semibold text-gray-900 ring-1 ring-inset
                          ring-gray-300 hover:bg-gray-50 focus:z-10' %>
          <% else %>
            <div class="mb-6">
              <% @comments&.each do |comment| %>
                <%= render 'atoms/comment', comment: %>
              <% end %>
            </div>
            <%= link_to '他のコメントも見る', event_event_comments_path(@event),
                        class: 'relative -ml-px inline-flex items-center rounded-md bg-white
                          px-3 py-2 font-semibold text-gray-900 ring-1 ring-inset
                          ring-gray-300 hover:bg-gray-50 focus:z-10' %>
          <% end %>
        </div>
      <% end %>
      <div class="flex justify-between items-center">
        <% if @event.master == current_user %>
          <span class="isolate inline-flex rounded-md shadow-sm">
            <%= link_to '編集', edit_event_path(@event),
                        class: 'relative inline-flex items-center rounded-l-md bg-white px-3
                          py-2 font-semibold text-gray-900 ring-1 ring-inset ring-gray-300
                          hover:bg-gray-50 focus:z-10' %>
            <%= button_to '削除', event_path(@event), method: :delete,
                                                    class: 'relative -ml-px inline-flex items-center bg-white px-3 py-2 font-semibold text-gray-900
                                                      ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10',
                                                    data: { turbo_confirm: '本当に削除しますか？削除したイベントは元に戻せません。' } %>
            <%= link_to '申込状況を確認する', event_event_attendances_path(@event),
                        class: 'relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 font-semibold text-gray-900
                          ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10' %>
          </span>
        <% else %>
          <div class="my-4">
            <% if @attendance.present? %>
              <div class="font-bold">ステータス</div>
              <div>
                <% if @attendance.requested? %>
                  <span class="block text-yellow-500 mb-2">申請中です</span>
                  <%= button_to 'キャンセル', event_event_attendance_path(event_id: @event.id, id: @attendance.id),
                                name: 'canceled', method: :patch, params: { status: 'canceled' },
                                class: 'relative -ml-px inline-flex items-center rounded-md bg-white
                                  px-3 py-2 font-semibold text-gray-900 ring-1 ring-inset
                                  ring-gray-300 hover:bg-gray-50 focus:z-10',
                                data: { turbo_confirm: 'イベント参加申請をキャンセルしますか？一度キャンセルするとこのイベントには参加できません。' } %>
                <% elsif  @attendance.canceled? %>
                  <span class="text-gray-500">キャンセルしました</span>
                <% elsif  @attendance.approved? %>
                  <span class="text-green-500">承認されました</span>
                <% else %>
                  <span class="text-red-500">拒否されました</span>
                <% end %>
              </div>
            <% else %>
              <%= link_to '申し込む', new_event_event_attendance_path(@event), class: 'relative -ml-px inline-flex items-center rounded-md
                            px-3 py-2 font-semibold text-white bg-blue-400 ring-1 ring-inset
                            ring-blue-700 hover:opacity-80 focus:z-10 cursor-pointer mb-4' %>
            <% end %>
          </div>
        <% end %>
        <%= link_to 'トップに戻る', root_path, class: 'relative -ml-px inline-flex items-center rounded-md bg-white
                          px-3 py-2 font-semibold text-gray-900 ring-1 ring-inset
                          ring-gray-300 hover:bg-gray-50 focus:z-10' %>
      </div>
    </div>
  </div>
</div>
