<div>
  <div>
    <div>イベント名</div>
    <div><%= @event.name %></div>
  </div>
  <div>
    <div>主催者</div>
    <div><%= @event.master.name %></div>
  </div>
  <div>
    <div>場所</div>
    <div><%= @event.place %></div>
  </div>
  <div>
    <div>住所</div>
    <div>〒<%= @event.zipcode_id %><%= @event.address %></div>
  </div>
  <div>
    <div>詳細</div>
    <div><%= @event.description %></div>
  </div>
  <div>
    <div>参加費用</div>
    <div><%= @event.price.nil? ? 'なし' : "#{@event.price}円" %></div>
  </div>
  <div>
    <div>人数制限</div>
    <div><%= @event.people_limit.nil? ? 'なし' : "#{@event.people_limit}人" %></div>
  </div>
  <div>
    <div>開催日時</div>
    <div><%= l @event.held_at, format: :long_ja %></div>
  </div>
  <div>
    <div>申込締切日時</div>
    <div><%= l @event.deadline_at, format: :long_ja %></div>
  </div>
  <% if @event.master == current_user || @is_approve %>
    <div class="mb-4">
      <h3>コメント欄</h3>
      <div class="mb-6">
        <% @comments&.each do |comment| %>
          <%= render 'atoms/comment', comment: %>
        <% end %>
      </div>
      <%= link_to '他のコメントも見る', event_event_comments_path(@event), class: 'font-bold text-white bg-blue-500 border border-green-500 p-2 rounded-lg' %>
    </div>
  <% end %>
  <% if @event.master == current_user %>
    <div class="flex">
      <%= link_to '編集', edit_event_path(@event), class: 'font-bold text-white bg-blue-500 border border-green-500 p-2 rounded-lg mx-2' %>
      <%= button_to '削除', event_path(@event), method: :delete, class: 'font-bold text-white bg-red-500 border border-red-500 p-2 rounded-lg mx-2',
                                                data: { turbo_confirm: '本当に削除しますか？' } %>
      <%= link_to '申込状況を確認する', event_event_attendances_path(@event), class: 'font-bold text-white bg-blue-500 border border-green-500 p-2 rounded-lg mx-2' %>
    </div>
  <% else %>
    <% if @attendance.present? %>
      <%= link_to '申込状況を確認する', new_event_event_attendance_path(@event), class: 'font-bold text-white bg-blue-500 border border-green-500 p-2 rounded-lg' %>
    <% else %>
      <%= link_to '申し込む', new_event_event_attendance_path(@event), class: 'font-bold text-white bg-blue-500 border border-green-500 p-2 rounded-lg' %>
    <% end %>
  <% end %>
</div>
