<div class="p-2">
  <div class="flex justify-between mb-4">
    <h2 class="font-bold text-3xl">イベント申請作成</h2>
    <%= link_to 'イベント詳細に戻る', @attendance.event,
                class: 'relative -ml-px inline-flex items-center rounded-md bg-white
                          px-3 py-2 font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10' %>
  </div>
  <div>
    <div class="my-4 border-b pb-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4 sm:gap-x-4">
        <div class="sm:col-span-2">
          <div class="font-bold">イベント名</div>
          <div><%= @attendance.event.name %></div>
        </div>
        <div class="sm:col-span-2">
          <div class="font-bold">イベント詳細内容</div>
          <div><%= @attendance.event.description %></div>
        </div>
      </div>
    </div>
  </div>
  <%= form_with(model: @attendance, url: event_event_attendances_path, method: :post, data: { turbo: false }) do |form| %>
    <%= render partial: 'form', locals: { form: } %>
    <div class="">
      <%= form.submit '申請', class: 'font-bold text-white bg-green-500 p-2 rounded-lg cursor-pointer' %>
    </div>
  <% end %>
</div>
