<!DOCTYPE html>
<html>
  <head>
    <title>SoccerEvent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/4aa12ef06a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', "data-turbo-track": 'reload' %>

    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="text-green-500"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="text-red-500"><%= alert %></p>
    <% end %>

    <header>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to 'イベント一覧', root_path %></li>
          <li><%= link_to 'リーグ一覧', leagues_path %></li>
          <li><%= link_to 'ユーザ一覧', users_path %></li>
          <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'サインアップ', new_user_registration_path %></li>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
        <% end %>
      </ul>
    </header>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
